- Fresh kernel 
- the variables / data created here , the scope is limited to this kernel only 
- evrytime close the kernel/ notebook . all the data is destroyed

## Python Comment

In [2]:
# Comment

## Identifiers : names given to variables / functions /classes 
    - identifier should start with a letter [ A - Z a - z ] or an uderscore [ _ ]
    - it may or may not be followed by 1 or more combination of letters underscore or digits [ 0 - 9 ]
    - it may not not include any special character
    - Reserved Words CANNOT be used : class for if else break 
    - Builtins SHOULD NOT be use : print len ....
    - CASE SENSITIVE

## Data Types 
        - Integer
        - Float
        - Boolean
        - String

# Python Strings

In [3]:
message = 'From small beginnings come great successes !'
print(message)

From small beginnings come great successes !

In [4]:
message2 = 'You can\'t rise above by pulling others down!!'
print(message2)

You can't rise above by pulling others down!!

In [5]:
message2 = "You can't rise above by pulling others down!!"
print(message2)

You can't rise above by pulling others down!!

### - one statement one line

In [6]:
# does not work
34 + 
45

SyntaxError: invalid syntax (<ipython-input-6-21b503d10fa7>, line 2)

In [7]:
# use explicit continuation operator 
34 +\
45

79

In [8]:
# use parenthesis 
(34 +
45)

79

In [9]:
"To be, or not to be, that is the question:\
Whether 'tis nobler in the mind to suffer\
The slings and arrows of outrageous fortune,\
Or to take arms against a sea of troubles\
And by opposing end them."

"To be, or not to be, that is the question:Whether 'tis nobler in the mind to sufferThe slings and arrows of outrageous fortune,Or to take arms against a sea of troublesAnd by opposing end them."

In [26]:
print("To be, or not to be, that is the question:\nWhether 'tis nobler in the mind to suffer\nThe slings and arrows of outrageous fortune,\nOr to take arms against a sea of troubles\nAnd by opposing end them.")

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

In [28]:
print('''To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.''')

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

In [10]:
print("""To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.""")

To be, or not to be, that is the question:
Whether 'tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And by opposing end them.

### string is an object of string class

In [17]:
# get builtin functions associated with strings 
text= "I am a string"
# dir is special function in python which lists all the attributes of the objects in the current scope.
#dir(text)
#help is used to read the help document for the specific attribute
#help(text.upper)
text.upper()

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

'I AM A STRING'

## dot operator

In [38]:
message.upper()

'FROM SMALL BEGINNINGS COME GREAT SUCCESSES !'

In [39]:
message.find('s')# press tab

5

# Numbers

In [40]:
a = 146
b = 45.78

### how to get what object is storing what type of data ??

In [41]:
type(a)

int

In [42]:
type(b)

float

In [43]:
type(message)

str

In [44]:
print(type(a))
print(type(b))
print(type(message))

<class 'int'>
<class 'float'>
<class 'str'>

## boolean 3

In [45]:
x = True
y = False

In [46]:
print(type(x))

<class 'bool'>

In [52]:
b.as_integer_ratio()

(1610740554226729, 35184372088832)

In [53]:
d = 3/4

In [54]:
d

0.75

In [55]:
d.as_integer_ratio()

(3, 4)

## Type Conversion

### int() float() str() bool()

# convert to string

In [18]:
ex1 = 23
ex2 = 34.77
ex3 = True

print(ex1 , ' : ',type(ex1), 'String Conversion', str(ex1), ' : ', type(str(ex1)))
print(ex2 , ' : ',type(ex2), 'String Conversion',  str(ex2), ' : ', type(str(ex2)))
print(ex3 , ' : ',type(ex3), 'String Conversion',  str(ex3), ' : ', type(str(ex3)))

23  :  <class 'int'> String Conversion 23  :  <class 'str'>
34.77  :  <class 'float'> String Conversion 34.77  :  <class 'str'>
True  :  <class 'bool'> String Conversion True  :  <class 'str'>

# Conversion between int & float

In [60]:
ex4 = 56
float(56)

56.0

In [61]:
ex5 = 76.999
int(ex5)

76

# Conversion to boolean

In [66]:
ex6 = 0
ex7 = 34
ex8 = -98
ex9 = ''
ex10 = ' '
ex11= 'False'
ex12 = 0.0000000000000000001

In [67]:
print(ex6 , '-->', bool(ex6))
print(ex7 , '-->', bool(ex7))
print(ex8 , '-->', bool(ex8))
print(ex9 , '-->', bool(ex9))
print(ex10 , '-->', bool(ex10))
print(ex11 , '-->', bool(ex11))
print(ex12 , '-->', bool(ex12))

0 --> False
34 --> True
-98 --> True
 --> False
  --> True
False --> True
1e-19 --> True

# Conversion from string to int or float

In [82]:
s1 = '23'
s2 = ' 45 '
s3 = ' -45'
s4 = '45 76'
s5 = '98.77'
s6 = '6798 s'

### to int

In [77]:
print(s1, ' -->  ', int(s1))
print(s2, ' -->  ', int(s2))
print(s3, ' -->  ', int(s3))

23  -->   23
 45   -->   45
 -45  -->   -45

In [79]:
print(s4 )
print(int(s4))

45 76

ValueError: invalid literal for int() with base 10: '45 76'

In [80]:
print(s5 )
print(int(s5))

98.77

ValueError: invalid literal for int() with base 10: '98.77'

In [83]:
print(s6 )
print(int(s6))

6798 s

ValueError: invalid literal for int() with base 10: '6798 s'

# to float

In [85]:
print(s1, ' -->  ', float(s1))
print(s2, ' -->  ', float(s2))
print(s3, ' -->  ', float(s3))

23  -->   23.0
 45   -->   45.0
 -45  -->   -45.0

ValueError: could not convert string to float: '45 76'

In [86]:
print(s4, ' -->  ', float(s4))

ValueError: could not convert string to float: '45 76'

In [87]:
print(s5, ' -->  ', float(s5))

98.77  -->   98.77

In [88]:
print(s6, ' -->  ', float(s6))

ValueError: could not convert string to float: '6798 s'

In [90]:
int(True) , float(False), str(False)

(1, 0.0, 'False')

# Operators1

# Arithemetic Operators 
    1.  + - / *
    2. % modulus
    3. // integer divide
    4. ** exponent 
# Relational Operators
    1. == !=
    2. > >=
    3. < <= 
    4. in
    5. not in
# Logical Operators
    1. and Logical and
    2. or Logical or
    3. & elementwise and
    4. | elementwise or
    5. ~elemnetwise not in pandas dataframe

# Data Structures : Sets | Lists | Tuples | Dictionaries

# 1. Sets : unordered collections of unique data elements

In [108]:
empty_set = set()
basket = {'apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 
          'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam'}
mix = {23, 98.66, True, 'string', 23, 87, True}

In [93]:
print('Empty Set :',empty_set,' length of the set : ',len( empty_set))

Empty Set : set()  length of the set :  0

In [95]:
print('Empty Set :{} length of the set : {}'.format(empty_set, len(empty_set)))
print('Basket Set :\n{}\nlength of the set : {}'.format( basket, len(basket)))
print('Mix Set :{} length of the set : {}'.format( mix, len(mix)))

Empty Set :set() length of the set : 0
Basket Set :
{'grapes', 'coconut', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set : 14
Mix Set :{True, 98.66, 'string', 23, 87} length of the set : 5

In [96]:
print('I have',100, 'books')

I have 100 books

In [99]:
string = 'I have ' + str(100) +' books'
string

'I have 100 books'

In [103]:
'I have {} books.They all are {}.'.format(100,'GREAT')

'I have 100 books.They all are GREAT.'

In [105]:
'I have {1} books.They all are {0}.'.format(100,'GREAT')

'I have GREAT books.They all are 100.'

In [106]:
'I have {0} books.They all are {0}.'.format('GREAT')

'I have GREAT books.They all are GREAT.'

In [113]:
# ADD AN ELEMENT 
print('Before add \n{} \nlength of the set {}\n'.format(basket, len(basket)))
basket.add('jam')
print('After add \n{} \nlength of the set {}\n'.format(basket, len(basket)))

Before add
{'grapes', 'coconut', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set 14

After add
{'grapes', 'coconut', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set 14

In [114]:
# ADD AN ELEMENT 
print('Before add \n{} \nlength of the set {}\n'.format(basket, len(basket)))
basket.add('coffee')
print('After add \n{} \nlength of the set {}\n'.format(basket, len(basket)))

Before add
{'grapes', 'coconut', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set 14

After add
{'grapes', 'coconut', 'coffee', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set 15

In [115]:
# REMOVE AN ELEMENT
print('Before remove \n{} \nlength of the set {}\n'.format(basket, len(basket)))
basket.remove('coffee')
print('After remove \n{} \nlength of the set {}\n'.format(basket, len(basket)))

Before add
{'grapes', 'coconut', 'coffee', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set 15

After add
{'grapes', 'coconut', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'almonds', 'oranges', 'bread', 'curd'}
length of the set 14

In [130]:
# POP AN ELEMENT
print('Before pop \n{} \nlength of the set {}\n'.format(basket, len(basket)))
print('Element Popped ' , basket.pop(), '\n')
print('After pop \n{} \nlength of the set {}\n'.format(basket, len(basket)))

Before pop
set()
length of the set 0

KeyError: 'pop from an empty set'

In [20]:
basket = {'apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 
          'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam'}

{'almonds',
 'apples',
 'bread',
 'butter',
 'cheese',
 'coconut',
 'cream',
 'eggs',
 'grapes',
 'jam',
 'mayo',
 'milk',
 'oranges'}

In [132]:
basket_1 = {'apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese'}
basket_2 = {'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam'}

# union : combining elements of the two sets

In [135]:
print('Union of basket1 & basket2\n', basket_1.union(basket_2))

Union of basket1 & basket2
 {'grapes', 'coconut', 'milk', 'cream', 'mayo', 'cheese', 'butter', 'eggs', 'jam', 'apples', 'oranges', 'almonds', 'bread', 'curd'}

# intersection : common elements in the sets

In [136]:
print('Intersection of basket1 & basket2\n', basket_1.intersection(basket_2))

Intersection of basket1 & basket2
 {'coconut', 'jam', 'apples', 'milk'}

# difference : uncommon

In [137]:
basket_1.difference(basket_2)

{'cheese', 'cream', 'curd', 'eggs', 'mayo'}

In [138]:
basket_2.difference(basket_1)

{'almonds', 'bread', 'butter', 'grapes', 'oranges'}

In [140]:
print(basket_1.symmetric_difference(basket_2))

{'grapes', 'cream', 'mayo', 'butter', 'cheese', 'eggs', 'oranges', 'almonds', 'bread', 'curd'}

In [144]:
basket_1.update(basket_2)

In [145]:
print(basket_1)

{'milk', 'butter', 'jam', 'oranges', 'almonds', 'bread', 'curd', 'grapes', 'coconut', 'cream', 'mayo', 'cheese', 'eggs', 'apples'}

# 2. List : ordered collection of data

In [1]:
empty_list = list() # []
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']
alist = [1, 'a', 2, 'b', 3, 'c', 4, 'd', 5 , 'e', 6 , 'f']
mix_list = [['emma', 23], 45, {'grapes', 'apples', 'oranges', 'apples'}]

In [2]:
print('Empty list :{} length of the List : {}'.format(empty_list, len(empty_list)))
print('Basket List :\n{}\nlength of the List : {}'.format( basket_list, len(basket_list)))
print('alist List :\n{} \nlength of the List : {}'.format( alist, len(alist)))
print('Mix List :\n{} \nlength of the List : {}'.format( mix_list, len(mix_list)))

Empty list :[] length of the List : 0
Basket List :
['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
length of the List : 18
alist List :
[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e', 6, 'f']
length of the List : 12
Mix List :
[['emma', 23], 45, {'oranges', 'apples', 'grapes'}]
length of the List : 3

## Indices

In [4]:
# indices        0    1    2    3    4    5    6    7    8    9
new_list   =   ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# -ive indices  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

In [5]:
print('First Element   :', new_list[0])
print('Seccond Element :', new_list[1])
print('Third Element   :', new_list[2])

First Element   : a
Seccond Element : b
Third Element   : c

In [7]:
print('Last Element        :', new_list[-1])
print('Second Last Element :', new_list[-2])
print('Third Last Element  :', new_list[-3])

Last Element        : j
Second Last Element : i
Third Last Element  : h

## Slicing

## colon operator 
    - start index : stop index : step 
    - stop is always excluded

In [ ]:
# indices        0    1    2    3    4    5    6    7    8    9
new_list   =   ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# -ive indices  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

In [8]:
new_list[2 : 6]

['c', 'd', 'e', 'f']

## if start is not mentioned default is = 0
## if stop is not mentioned default is = len(list)

In [10]:
new_list[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [11]:
new_list[3 : ]

['d', 'e', 'f', 'g', 'h', 'i', 'j']

In [12]:
new_list[ : 8]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [15]:
new_list[ : ]

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

## step

In [22]:
# indices        0    1    2    3    4    5    6    7    8    9
new_list   =   ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# -ive indices  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

In [29]:
new_list[ 0: 9 : 2 ]
# 0 ,
# 0 + 2 = 2,
# 2 + 2 = 4
# 4 + 2 = 6
# 6 + 2 = 8

['a', 'c', 'e', 'g', 'i']

first element = newlist[start]
second element = newlist[start + step] # second = start +step
third element = newlist[seccond + step ]

In [33]:
new_list[ : : 2]

['a', 'c', 'e', 'g', 'i']

In [34]:
new_list[ : : -1]

['j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

### if step is positive +1, +2...
    - start index should be on the left of stop index 
    - start < stop

In [ ]:
# indices        0    1    2    3    4    5    6    7    8    9
new_list   =   ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# -ive indices  -10  -9   -8   -7   -6   -5   -4   -3   -2   -1

In [21]:
new_list[2 : 9 : +3]

['c', 'f', 'i']

In [22]:
new_list[-9 :-2 : +3]

['b', 'e', 'h']

### if step is negative -1, -2...
    - start index should be on the right of stop index 
    - start > stop

In [24]:
new_list[9 : 2 : -3]

['j', 'g', 'd']

In [25]:
new_list[-2 : -9 : -3]

['i', 'f', 'c']

In [26]:
new_list[2:9:-1]

[]

## associate functions for a list

In [27]:
print(dir(basket_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
basket_list.

## adding elements
    1. append : adds one element at the end of the list 
    2. extend : adds multiple elements at the end of the list
    3. insert : adds one element at a given position

In [36]:
alist=[]
print('Before append \n{}'.format(alist))
alist.append(7)
print('After append \n{}'.format(alist))

Before append
[]
After append
[7]

In [38]:
print('Before append \n{}'.format(alist))
alist.append([7,'g'])
print('After append \n{}'.format(alist))

Before append
[7, [7, 'g']]
After append
[7, [7, 'g'], [7, 'g']]

In [39]:
print('Before extend \n{}'.format(alist))
alist.extend([7,'g'])
print('After extend \n{}'.format(alist))

Before extend
[7, [7, 'g'], [7, 'g']]
After extend
[7, [7, 'g'], [7, 'g'], 7, 'g']

In [41]:
print('Before insert \n{}'.format(alist))
alist.insert(3, 'insert')
print('After insert \n{}'.format(alist))

Before insert
[7, [7, 'g'], [7, 'g'], 'insert', 7, 'g']
After insert
[7, [7, 'g'], [7, 'g'], 'insert', 'insert', 7, 'g']

## Removing elements
    4. remove : removes the first occurence of the given element
    5. pop    : pops out the element at particular position

In [43]:
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']
print(basket_list)

['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [44]:
print('Before remove jam :\n{}'.format(basket_list))
basket_list.remove('jam')
print('After remove jam  :\n{}'.format(basket_list))

Before remove jam :
['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
After remove jam  :
['apples', 'milk', 'eggs', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [45]:
print('Before remove jam :\n{}'.format(basket_list))
basket_list.remove('jam')
print('After remove jam  :\n{}'.format(basket_list))

Before remove jam :
['apples', 'milk', 'eggs', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
After remove jam  :
['apples', 'milk', 'eggs', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter']

### how to check the no. occurrence of any given element ?
    6. count : counts the no.of occurences

In [36]:
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']
print(basket_list)

['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [37]:
basket_list.count('jam')

2

In [ ]:
# execute twice 
print('Before remove jam :\n{}'.format(basket_list))
basket_list.remove('jam')
print('After remove jam  :\n{}'.format(basket_list))

In [40]:
basket_list.count('jam')

0

In [41]:
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']
print(basket_list)

['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [42]:
print('Before pop pos = 4 :\n{}'.format(basket_list))
print('\nElement popped : {}'.format(basket_list.pop(4)))
print('\nAfter  pop pos = 4  :\n{}'.format(basket_list))

Before pop pos = 4 :
['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

Element popped : curd

After  pop pos = 4  :
['apples', 'milk', 'eggs', 'jam', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

## how to find out the location of an element 
    7. index : gives the index for the first occurence

In [46]:
basket_list.index('coconut') # first occurence

4

### index allows to look for an element in a slice but returns the actual position

In [47]:
basket_list.index('coconut', 6) # true position of first occurence the element if occuring after the 6th index

13

In [59]:
example_list = [23, 47, 21, 32, 23, 32, 67, 21, 67, 89, 90, 47, 23, 67, 54, 23]

In [53]:
example_list.count(23)

4

In [54]:
example_list.index(23) # very first occurence

0

In [55]:
# what is the location of first occurence of a score = 23 after the 5th position ??
example_list.index(23, 5)

12

In [63]:
# what is the location of first occurence of a score = 23 between the 5th position and 8th position ??
example_list.index(23,5,15) 
# will look for 23 in example_list[5:8]

12

In [64]:
example_list.index(23, 5, 12)

ValueError: 23 is not in list

    8. reverse : reverses the list

In [65]:
print('Before reverse :{}'.format(alist))
alist.reverse()
print('After reverse  :{}'.format(alist))

Before reverse :[7, [7, 'g'], [7, 'g'], 'insert', 'insert', 'insert', 7, 'g']
After reverse  :['g', 7, 'insert', 'insert', 'insert', [7, 'g'], [7, 'g'], 7]

    9. sort : sorts the list in ascending or descending order
            - the list should homogenous and consists of either numbers or characters

In [53]:
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']
print(basket_list)

['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [66]:
print('Before basket_list :\n{}'.format(basket_list))
basket_list.sort()
print('After basket_list  :\n{}'.format(basket_list))

Before basket_list :
['apples', 'milk', 'eggs', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter']
After basket_list  :
['almonds', 'apples', 'apples', 'bread', 'butter', 'cheese', 'coconut', 'coconut', 'cream', 'curd', 'eggs', 'grapes', 'mayo', 'milk', 'milk', 'oranges']

In [55]:
basket_list = ['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples','oranges', 'coconut', 'bread', 'butter', 'jam']
print(basket_list)

['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']

In [56]:
print('Before basket_list :\n{}'.format(basket_list))
basket_list.sort(reverse = True)
print('After basket_list  :\n{}'.format(basket_list))

Before basket_list :
['apples', 'milk', 'eggs', 'jam', 'curd', 'coconut', 'cream', 'mayo', 'cheese', 'milk', 'almonds', 'grapes', 'apples', 'oranges', 'coconut', 'bread', 'butter', 'jam']
After basket_list  :
['oranges', 'milk', 'milk', 'mayo', 'jam', 'jam', 'grapes', 'eggs', 'curd', 'cream', 'coconut', 'coconut', 'cheese', 'butter', 'bread', 'apples', 'apples', 'almonds']

In [67]:
l1 = [34, 54.88, 12, True, False, False, -45, -90.11]
print('Before sort :\n{}'.format(l1))
l1.sort()
print('After sort  :\n{}'.format(l1))

Before sort :
[34, 54.88, 12, True, False, False, -45, -90.11]
After sort  :
[-90.11, -45, False, False, True, 12, 34, 54.88]

In [68]:
l2 = ['apples', 'oranges', 'grapes', 10, 20, 30]

In [71]:
l2_copy = l2

In [69]:
print(l2)

['apples', 'oranges', 'grapes', 10, 20, 30]

In [72]:
print(l2_copy)

['apples', 'oranges', 'grapes', 10, 20, 30]

In [73]:
l2_copy[2] = 'pear'

In [74]:
print(l2_copy)

['apples', 'oranges', 'pear', 10, 20, 30]

In [75]:
print(l2)

['apples', 'oranges', 'pear', 10, 20, 30]

In [68]:
# = it shallow copy : copies the minimum

In [69]:
l2_dp_cpy = l2.copy()

In [71]:
l2_dp_cpy[2] = 'grapes'

In [72]:
l2_dp_cpy

['apples', 'oranges', 'grapes', 10, 20, 30]

In [79]:
l4=l2[:]

In [73]:
l2

['apples', 'oranges', 'pear', 10, 20, 30]

In [81]:
id(l2)

2288596601792

In [84]:
id(l4)

2288598415808

In [77]:
id(l2_copy)

2288596601792

In [78]:
id(l2_dp_cpy)

NameError: name 'l2_dp_cpy' is not defined

In [77]:
l3 = l2_copy

In [78]:
id(l3)

140420647651200

### use of arithmetic operators

In [82]:
l1 = [23,56, 87]
l2 = ['a', 'b', 'c']
new = l1+l2 # concattenation
new

[23, 56, 87, 'a', 'b', 'c']

In [84]:
l2 * 3 # repetition

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

# 3. Tuples : ordered immutable collection of data

### multiple assignments

In [85]:
a,b,c,d,e = 23, 45, 65, 87, 'string'

In [86]:
a,b,c,d,e = (23, 45, 65, 87, 'string')

In [88]:
empty_tup = () # tuple()
tup_1 = (2)
tup_11 = (23,)
basket_tup = ('oranges', 'milk', 'milk', 'mayo', 'jam', 'jam', 'grapes', 'eggs', 'curd', 'cream', 'coconut', 'coconut', 'cheese', 'butter', 'bread', 'apples', 'apples', 'almonds')
mix_tup = (['emma', 23], 45, {'oranges', 'apples', 'grapes'},(34,67))

In [89]:
print('Empty tup :{} class of the tup : {}'.format(empty_tup, type(empty_tup)))
print('tup_1 tup :\n{}\nclass of the tup : {}'.format( tup_1, type(tup_1)))
print('tup_11 tup :\n{} \nclass of the tup : {}'.format( tup_11, type(tup_11)))
print('Mix tup :\n{} \nclass of the tup : {}'.format( mix_tup, type(mix_tup)))

Empty tup :() class of the tup : <class 'tuple'>
tup_1 tup :
2
class of the tup : <class 'int'>
tup_11 tup :
(23,)
class of the tup : <class 'tuple'>
Mix tup :
(['emma', 23], 45, {'apples', 'grapes', 'oranges'}, (34, 67))
class of the tup : <class 'tuple'>

In [90]:
basket_tup[7] = 'EGGSS'

TypeError: 'tuple' object does not support item assignment

In [92]:
import timeit
import sys

In [93]:
timeit.timeit('(1,)')

0.01855939999995826

In [94]:
timeit.timeit('[1]')

0.07088199999998324

In [95]:
tup = (1,)*1000
tup.__sizeof__()

8024

In [96]:
l = [1,]*1000
l.__sizeof__()

8040

In [97]:
mix_tup

(['emma', 23], 45, {'apples', 'grapes', 'oranges'}, (34, 67))

In [98]:
mix_tup[0][1] = 67

In [99]:
mix_tup

(['emma', 67], 45, {'apples', 'grapes', 'oranges'}, (34, 67))

In [100]:
mix_tup[0].append('append')

In [101]:
mix_tup

(['emma', 67, 'append'], 45, {'apples', 'grapes', 'oranges'}, (34, 67))

# 4. Dictionaries : unordered collection of key value pairs 
    - where keys are separated from values using ':'
    - 1 key - value pair is 1 item / element. Elements are separated buy comma. 
    - keys should be immuatable object and unique. Generally strings or numbers
    - values can be any arbitrary python object : numbers strings list tuples sets dictionaries ....

In [102]:
# strings are immutable 
string = 'Test'
string[3] = 's'

TypeError: 'str' object does not support item assignment

In [103]:
empty_dict = {} # dict()
dict1 = { 1 : 'a', 2 : 'b', 3 : 'c', 'd' : 4,  5.1 : 'e1' }

In [104]:
print('Empty Dictionary :', empty_dict, type(empty_dict))
print('Dict1 Dictionary :', dict1, type(dict1))

Empty Dictionary : {} <class 'dict'>
Dict1 Dictionary : {1: 'a', 2: 'b', 3: 'c', 'd': 4, 5.1: 'e1'} <class 'dict'>

In [105]:
dict2 = {[45,67] : 76}
dict2

TypeError: unhashable type: 'list'

In [106]:
dict2 = {(45,67) : 76}
dict2

{(45, 67): 76}

In [107]:
d = {('Hyd', 'Ind') : [23, 26, 28, 28, 27, 28, 28, 29],
('Hyd', 'Pak'):   [39, 38, 37, 37, 37, 37, 36, 36]}

## keys are the indices

In [110]:
employee = {'Name' : 'John Doe',
           'Age' : 25,
           'Exp' : 3,
           'Desig' : 'JE'}

In [109]:
dict1

{1: 'a', 2: 'b', 3: 'c', 'd': 4, 5.1: 'e1'}

In [111]:
dict1[1]

'a'

In [135]:
dict1['d']

4

In [137]:
dict1[5.1]

'e1'

In [112]:
employee['Name']

'John Doe'

In [113]:
employee =  {'Name' : 'John Doe',
           'Age' : 25,
           'Exp' : 3,
           'Desig' : 'JE',
            'Name': 'John'}
print(employee)

{'Name': 'John', 'Age': 25, 'Exp': 3, 'Desig': 'JE'}

In [114]:
car = {'brand' : ['Honda', 'Renault', 'Hyundai', 'Merc'],
       'Type' : ['Sedan', 'Suvs'],
       'Year' : 2020}
print(car)

{'brand': ['Honda', 'Renault', 'Hyundai', 'Merc'], 'Type': ['Sedan', 'Suvs'], 'Year': 2020}

In [142]:
# Acess elements in dictionary

### get all the keys ??

In [143]:
employee.keys()

dict_keys(['Name', 'Age', 'Exp', 'Desig'])

### gett all the values

In [115]:
employee.values()

dict_values(['John', 25, 3, 'JE'])

### get all items / elements

In [116]:
employee.items()

dict_items([('Name', 'John'), ('Age', 25), ('Exp', 3), ('Desig', 'JE')])

In [147]:
employee['Desig']

'LT'

### adding ittems to the dictionary

In [117]:
# if the key already exist it will modify
# if not it will add it
print('Before add', employee)
employee['Org'] = 'Test'
print('After add', employee)

Before add {'Name': 'John', 'Age': 25, 'Exp': 3, 'Desig': 'JE'}
After add {'Name': 'John', 'Age': 25, 'Exp': 3, 'Desig': 'JE', 'Org': 'Test'}

In [118]:
print('Before add', employee)
employee['Desig'] = 'SE'
print('After add', employee)

Before add {'Name': 'John', 'Age': 25, 'Exp': 3, 'Desig': 'JE', 'Org': 'Test'}
After add {'Name': 'John', 'Age': 25, 'Exp': 3, 'Desig': 'SE', 'Org': 'Test'}

In [119]:
employee.update({'Clients' :['AE', 'DE', 'FG'], 'Exp': 7.5})
print(employee)

{'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test', 'Clients': ['AE', 'DE', 'FG']}

In [120]:
print('Before Remove', employee)
print('Value popped', employee.pop('Clients'))
print('After Remove', employee)

Before Remove {'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test', 'Clients': ['AE', 'DE', 'FG']}
Value popped ['AE', 'DE', 'FG']
After Remove {'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test'}

In [121]:
print('Before Remove', employee)
print('Value popped', employee.pop('Clients'))
print('After Remove', employee)

Before Remove {'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test'}

KeyError: 'Clients'

In [122]:
print('Before Remove', employee)
print('Value popped', employee.pop('Clients', 'ABSENT'))
print('After Remove', employee)

Before Remove {'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test'}
Value popped ABSENT
After Remove {'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test'}

In [123]:
employee

{'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test'}

In [124]:
print(employee)
print(employee.popitem())
print(employee)

{'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE', 'Org': 'Test'}
('Org', 'Test')
{'Name': 'John', 'Age': 25, 'Exp': 7.5, 'Desig': 'SE'}

# Brackets :
    1. [ ] - square brackets 
        * define or create lists
        * for indexing 
    2. ( ) - parenthesis
        * define or create tuples
        * with functions / classes to pass parameters 
    3. { } - curly brackets
        * define or create dictionaries 
        * define or create sets

# Conditional Statements

if expression :
    statement_1
    statement_2
    statement_3
    statement_4
else : # optional
    statement_1
    statement_2
    statement_3

## check number is even or odd

#### take input from user

In [128]:
no = int(input('Please enter number :'))

Please enter number : 10

In [126]:
type(no)

int

In [129]:
if no%2 == 0:
    print('Even')
else :
    print('odd')

Even

### Single suite statements

In [130]:
if no%2 == 0:print('Even')
else :print('odd')

Even

# grading :
    - 90 & above -> A
    - 75  -  90  -> B
    - 55  -  75  -> C
    - 35  -  55  -> D
    - below  35  -> F

In [131]:
marks = float(input('Please enter marks : '))
if marks >=90 : grade = 'A'
else : 
    if marks >=75 : grade = 'B'
    else :
        if marks >= 55 : grade = 'C'
        else : 
            if marks >= 35 : grade ='D'
            else : grade = 'F'
grade

Please enter marks :  100

'A'

In [172]:
marks = float(input('Please enter marks : '))
if marks >=90 : grade = 'A'
elif marks >=75 : grade = 'B'
elif marks >= 55 : grade = 'C'
elif marks >= 35 : grade ='D'
else : grade = 'F'
grade

Please enter marks :  91.22

'A'

In [173]:
# discount : if  member and purchase is above 500 : 25%
# if not a member but purchase above 1000 : 20%
# Flat disc for ithers = 55

In [133]:
mem = 'Y'
bill_amnt = 2311

In [134]:
if mem == 'Y' and bill_amnt >= 500:
    disc = 0.25
elif mem == 'N' and bill_amnt >= 1000:
    disc = 0.20
else :
    disc = 0.05
disc

0.25

In [135]:
if (mem == 'Y') & (bill_amnt >= 500):
    disc = 0.25
elif (mem == 'N') & (bill_amnt >= 1000):
    disc = 0.20
else :
    disc = 0.05
disc

0.25

In [179]:
disc

0.25

In [136]:
countries = ['Malaysia', 'Bhutan', 'Indonesia', 'Nepal', 'Mauritius',  'Cook Islands','Fiji',  'Barbados',
            'British Virgin Islands', 'Dominica','Grenada','Haiti','Jamaica','Montserrat','St. Kitts and Nevis',
            'St. Vincent and the Grenadines','Trinidad and Tobago',
            'El Salvador', 'Qatar']

In [137]:
country = 'Bhutan'

In [138]:
if country in countries:
    print('visa on arrival')
else :
    print('required')

visa on arrival

## Rock Paper Scissor game

# Loops : iteration statements 
    1. for loop  : if iteration is for definite no. of times 
    2. while loop : iteration based on condition

In [189]:
print('List of Countries')
for country in countries:
    print(country)

List of Countries
Malaysia
Bhutan
Indonesia
Nepal
Mauritius
Cook Islands
Fiji
Barbados
British Virgin Islands
Dominica
Grenada
Haiti
Jamaica
Montserrat
St. Kitts and Nevis
St. Vincent and the Grenadines
Trinidad and Tobago
El Salvador
Qatar

In [191]:
count = 0
while count < len(countries):
    print(countries[count])
    count +=1

Malaysia
Bhutan
Indonesia
Nepal
Mauritius
Cook Islands
Fiji
Barbados
British Virgin Islands
Dominica
Grenada
Haiti
Jamaica
Montserrat
St. Kitts and Nevis
St. Vincent and the Grenadines
Trinidad and Tobago
El Salvador
Qatar

   -Mean
   -Median
   -Mode

In [169]:
import random
randomlist = [] 
for i in range(0,10): 
    n = random. randint(1,30)
    randomlist.append(n)
mean=sum(randomlist)/len(randomlist)
cnt = len(randomlist)
newlist = randomlist[ : ]
newlist.sort()
#print(newlist,  cnt%2, cnt)
median = None
if cnt%2>0:
    median = newlist[cnt//2]
else:
    before = cnt//2
    after = before+1
    median =  (newlist[before]+newlist[after])/2
print(randomlist)
print("Mean is {0:,.2f}, median is {1}".format(mean, median))

[17, 15, 14, 22, 2, 21, 28, 17, 15, 20]
Mean is 17.10, median is 18.5